*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Yu Gothic';
}

body {
	position: relative;
	margin: 0 auto;
	max-width: 1440px;
	width: 100%;
}


header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 40px;
	z-index: 10;
	user-select: none;
}
header .left_content {
	width: 350px;
	height: 48px;
	flex-shrink: 0;
	display: flex;
}

header .right_content ul{
	display: flex;
    list-style-type: none;
	flex-wrap: nowrap;
	justify-content: right;
	align-items: center;
	gap: 48px;
	flex-basis: auto;
	height: 80px;
	color: #FDFDFD;
	text-align: center;
	font-family: Yu Gothic;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
}

.content-title{
	color: #363636;
	text-align: center;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 160%;
	text-decoration: underline;
}
.wrapper1 .content{
}


.wrapper3{
	background-color:#F0F0F0;
	display: flex;
	padding: 40px 140px;
	flex-direction: column;
	align-items: center;
	gap: 32px;

}
.wrapper3 .wrapper3-content{
	width: 1240px;
	background-color: #FDFDFD;

	padding: 40px;

}


.wrapper3 .wrapper3-img{
	display: flex;
	position: relative;
}
.wrapper3-img p{
	position: absolute;
    left: 564px;
    color: #363636;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    padding: 16px 24px;
    background: linear-gradient(to right, transparent 0%, #FFFFFF 24%);
}

.button-applybtn{
	width: 437px;
	display: flex;
	padding: 16px;
	color: #F0F0F0;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 160%; /* 38.4px */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background-color: #C90000;
}

.wrapper4{
	background-color: #FFFFFF;
}
.wrapper4 .content-subtitle{
	color: #363636;
	text-align: center;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 160%;
}

.wrapper4 .wrapper4-content{
	display: flex;
	justify-content: center;
	gap: 40px;
}
.wrapper4-content .content{
	background-color: #F0F0F0;
	width: 360px;

}
.wrapper4-content img{
	padding: 40px 30px 0 32px;
}
.wrapper4-content .content .title{
	background-color: #E7DE01;
	width: 328px;
	
}
.wrapper4-content .content .title p{
	padding: 32px;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 160%; /* 32px */
	letter-spacing: 0.8px;
}
.wrapper4-content .content .content-message{
	padding: 16px 32px 40px 24px;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
}

.wrapper5{
	background-color: #F0F0F0;
}

.wrapper5 .inquiry{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 48px;
}

.wrapper5 .inquiry .inquiry-list{
	width: 712px;
	padding: 20px 0;
	background-color: #FFFFFF;
	color: #363636;
	font-family: Yu Gothic;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 160%;
}